.custom-container-discussione{
    background-color: rgb(247, 247, 247);
    margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 10%;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #a0a0a0;
}
.custom-container-discussione-noimg{
    background-color: rgb(247, 247, 247);
    margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #a0a0a0;
}


.img-style{
    width: 400px !important; 
    border-top-left-radius: 5px !important; 
    border-bottom-left-radius: 5px !important;
}