.custom-nav-container-title {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 13px;
    border-radius: 8px;
    
}
