<!-- /forum_app/templates_forum_app/crea_sezione.html -->
{% extends '../base.html' %}
{% load crispy_forms_tags %}


{% block title %}Crea Sezione{% endblock %}


{% block content %}

<div class="container-sm text-center" style="max-width: 50% !important;" >
    <div class="justify-contant-center" >
        <h2 class="mt-5 mb-4">Crea Sezione</h2>
        <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary custom-btn-primary text-dark" value="Conferma">
        </form>
       
        
    </div>
</div>

{% endblock %}