<!-- /forum_app/templates_forum_app/singola_sezione.html -->
{% extends '../base.html' %}
{% load static %}

{% block title %}{{sezione.nome_sezione}}{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/forum_app/sezione.css' %}">
{% endblock %}



    


{% block content %}






<div class="container">
    
    <div class="custom-container-head">
        <div class="container custom-nav-container pt-3">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item" ><a href="/" style="text-decoration: none;">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{sezione.nome_sezione}}</li>
                </ol>
            </nav>
        </div>
        <hr>
        <div class="container">
            <h2 class="">{{sezione.nome_sezione}}</h2>
            <div class="row">
                <div class="col">
                    <p class="">{{sezione.descrizione}}</p>
                </div>
                {% if  request.user.is_authenticated %}
                <div class="col text-end">
                    <a href="{% url 'crea_discussione' pk=sezione.pk %}" class="btn btn-primary custom-btn-primary text-dark">Cread Discussione</a>
                </div>
                {% endif %}
            </div>
            
        </div>
    
    </div>
    {% for discussione in discussioni %}
        <a href="{{ discussione.get_absolute_url }}" style="text-decoration: none; color: black;">
        <div class="custom-container-discussione">
            
            <div class="col text-left" >
                <div class="card-header pb-0">
                    <h3 class="">{{discussione}}</h3>
                </div>
             </div>
             <hr>
             <div class="row">
                <div class="col-3" ></a> 
                    <p><strong class="custom-timesago"> Autore: </strong><a class="custom-user-link" href="{% url 'user_profile_view' username=discussione.autore %}">@{{ discussione.autore }}</a></p>
                </div>
                <div class="col-3" >
                    <a href="{{ discussione.get_absolute_url }}" style="text-decoration: none; color: black;">
                    <p class="custom-timesago">{{ discussione.get_day_ago }}</p></a>
                </div></a>
                <div class="col-auto ms-auto">
                    <a href="{{ discussione.get_absolute_url }}" style="text-decoration: none; color: black;"></a>
                    <p class="custom-timesago"><i class="bi bi-chat-square"></i> <strong>{{ discussione.posts_discussione.count }}</strong></p>
                    </a>
                </div>
                </a>

            </div>
             
            
        </div>   
            
        

    {% endfor %}
    
</div>



    
</div>

{% endblock %}