<!-- registration/password_reset_confirm.html -->
{% extends '../base.html' %}
{% load crispy_forms_tags %}


{% block title %}Reset password{% endblock %}


{% block content %}

<div class="container-sm text-center" style="max-width: 50% !important;" >
    <div class="justify-contant-center" >
        {% if validlink %}
            <h2 class="mt-5 mb-4">Reset password:</h2>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary custom-btn-primary text-dark" value="Cambia Password">
            </form>
        {% else %}
            
            <h2 class="mt-5 mb-4">Errore</h2>
            <p>Il link seguto non è più valido!</p>
        
        {% endif %}
       
        
    </div>
</div>

{% endblock %}