<!-- registration/password_reset_complete.html -->
{% extends '../base.html' %}
{% load crispy_forms_tags %}


{% block title %}Password reset{% endblock %}


{% block content %}

<div class="container-sm text-center" style="max-width: 50% !important;" >
    <div class="justify-contant-center" >
        <h2 class="mt-5 mb-4">Cambio password completato!</h2>
        <p>Il cambio della password è avvenuto con successo</p>
        <form action="{% url 'login' %}" method="POST">
            <p><a href="{% url 'login' %}">Clicca quì per effettuare il login!</a></p>

        </form>
       
        
    </div>
</div>

{% endblock %}