<!-- registration/password_reset_done.html -->
{% extends '../base.html' %}
{% load crispy_forms_tags %}


{% block title %}Reset password{% endblock %}


{% block content %}

<div class="container-sm text-center" style="max-width: 50% !important;" >
    <div class="justify-contant-center" >
        <h2 class="mt-5 mb-4">Password reset!</h2>
        <p>Ti abbiamo mandato una email con il link per il cambio password</p>
        <p>Visita la tua casella postale e segui la procedura associata per il cambio della password !</p>
    </div>
</div>

{% endblock %}